<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{:: #content}, ~{:: title})}">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
</head>
<body>
<div id="content">
    <div class="container-fluid p-5" style="margin-top: 70px; margin-bottom: 100px;">
        <div class="row">
            <div class="col-md-3 offset-md-5">
                <div class="card card-sh">
                    <div class="card-header text-center fs-4 fw-bold">
                        <p class="fs-4 fw-bold">Update Category</p>
                        <th:block th:if="${session.successMessage}">
                            <p class="text-success">[[${session.successMessage}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                        <th:block th:if="${session.errorMessage}">
                            <p class="text-danger">[[${session.errorMessage}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/dealnest/admin/update-category}" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <input type="hidden" name="id" th:value="${category.id}">
                                <label class="fw-bold">Enter Category</label>
                                <input th:value="${category.name}" type="text" name="name" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="fw-bold">Status</label>
                                <div class="form-check">
                                    <input class="form-check-input" value="true" type="radio"
                                           name="isActive" id="active" th:checked="${category.isActive==true}">
                                    <label class="form-check-label" for="active">
                                        Active
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" value="false" type="radio"
                                           name="isActive" id="isActive" th:checked="${category.isActive==false}">
                                    <label class="form-check-label" for="isActive">
                                        Inactive
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="fw-bold">Upload Image</label>
                                <input type="file" name="file" class="form-control text-center">
                                <img th:src="@{'/images/category/' + ${category.imageName}}" alt="Category Image" class="img-thumbnail" width="100px">
                            </div>
                            <button type="submit" class="btn btn-dark col-md-12">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>