<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{:: #content}, ~{:: title})}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div id="content">
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-6 p-5">
                <img alt="" th:src="@{/images/login.png}" width="100%" height="400px">
            </div>
            <div class="col-md-6 mt-3 p-5">
                <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-header">
                        <p class="fs-4 text-center">Login</p>
                        <div th:if="${param.error}"
                             class="alert alert-danger text-center">

                            <th:block
                                    th:if="${session.SPRING_SECURITY_LAST_EXCEPTION!=null}">
                                [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
                            </th:block>
                        </div>
                        <div th:if="${param.logout}" class="alert alert-dark text-center">
                            Logged Out Successfully
                        </div>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/user/authenticate}" method="POST">
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
                            </div>
                            <button type="submit" class="btn bg-black text-white col-md-12"><i class="fa-solid fa-right-to-bracket"></i> Login</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="text-decoration-none" th:href="@{/dealnest/forget-password}">Forgot Password</a> <br>
                        <p>Don't have an account? <a class="text-decoration-none" href="#" th:href="@{/dealnest/register}">Sign up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>